<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>練習スケジュール編集</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>{{ date }}の練習参加者を編集</h1>
        <form action="{{ url_for('edit', date=date) }}" method="post" class="form-container">
            <label for="participants">参加者:</label>
            <input type="text" name="participants" id="participants" value="{{ participants | join(', ') }}" required><br>
            <input type="submit" value="更新" class="submit-btn">
        </form>
    </div>
</body>
</html>
